@import "./assets/bootstrap/bootstrap";
@import "~bootstrap/scss/bootstrap";

$gray: map-get($colors, "gray");

.btn-light,
.btn-dark {
	border-color: $gray;
}

.card {
	&.text-bg-light,
	&.text-bg-dark {
		border-color: $gray;
	}
}