// Variables


// Color system

$white: #fff !default;
$gray-600: #6c757d !default;
$gray-900: #242424 !default;
$black: #181818 !default;

$secondary: $gray-900 !default;
$light: $gray-600 !default;
$dark: $black !default;


// Options

$enable-negative-margins: true !default;


// Forms

$input-bg: $secondary !default;

$form-select-color: $white !default;